html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255) !important;
    font-weight: 200;
    font-size: medium;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: rgb(255, 249, 249);
    text-align: center;
    font-size: x-large;
    font-weight: 500;
}

.display-6 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 600;
    line-height: 1.2;
}

.carousel-inner {
    height: 450px;
}

#navbarSupportedContent ul li a {
    border-radius: 20px;
}
#navbarSupportedContent ul li a:hover {
    background-color: rgb(211, 33, 33);
}

#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid #d50000;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#services-container {
    background-color: #c0b1bb;
}
#searchbox {
    border-radius: 20px;
    color:#9fd3e0;
    border-color:#9fd3e0;
}
h1 {
    text-align: center;
    color: #2a0202;
}
.container-fluid .row {
    background-color: #c0b1bb;
}
.container-fluid .row img {
    width: 310px;
    position: absolute;
}
.container-fluid .row .col-12 h3 {
    color: #543e3b;
}
.container-fluid .row h4 {
    color: #2f1f15;
}
.container-fluid .row .col-12 h3 a button{
    border-radius: 60px;
}
#info {
    color: white;
}
.footer-ask-here-container {
    color: white;
    text-align: center;
}
.form-cont {
    width: 240px;
    margin: 6px;
    padding: 5px;
    border-radius: 6px;
}





* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}








body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
